input:focus {
    border-bottom: 1px solid #01579b !important;
    box-shadow: 0 1px 0 0 #01579b !important;
  }

  textarea:focus {
    border-bottom: 1px solid #01579b !important;
    box-shadow: 0 1px 0 0 #01579b !important;
  }